
body {
  color: rgb(var(--foreground-rgb));
  background: 
  url('/static/mesh-gradient.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color:#252847;
  height: 100%;
}


  
