
body {
  color: rgb(var(--foreground-rgb));
  background: #322d31;
  
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 100%;
}

*{
  
}
@tailwind base;
@tailwind components;
@tailwind utilities;
  
